---
import { db, like, User } from "astro:db";
import qrcode from 'qrcode';

const { user } = Astro.locals;
if (user == null) {
  return Astro.redirect("/admin/signin");
} else {
  console.log(user);
}

const qrUser = await db.select().from(User).where(like(User.id, user.id));

let qrImageUrl = '';
qrImageUrl = await qrcode.toDataURL(qrUser[0].qr);
---

<div class="bg-white p-6 rounded-lg shadow-lg max-w-md mx-auto">
  <h1 class="text-2xl font-bold mb-4">{qrUser[0].username}</h1>
  <p class="text-gray-700 mb-6">¡Bienvenido! Aquí puedes escanear el código QR para conectar tu WhatsApp al bot.</p>
  <img src={qrImageUrl} alt="QR Code" class="mx-auto w-1/2 h-1/2">
</div>
